    button {
        color: black;
    }
    
    .app button.niveauFaible,
    .app button.niveauModere,
    .app button.niveauEleve {
        padding: 25px;
        color: black;
        display: block;
        width: 100%;
        color: black;
        font-size: 25px;
        font-weight: bold;
    }
    
    .app button.niveauFaible {
        background-color: yellow
    }
    
    .app button.niveauModere {
        background-color: orange;
    }
    
    .app button.niveauEleve {
        background-color: red;
    }